:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --contact-text-color: rgba(255, 255, 255, 0.6);
  --regular-white-color: #ffffff;
  --regular-black-color: #000000;
  --hero-button-hover-color: #188ce8;
  --primary-background-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --hero-background-color: #2f303a;
}
body {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}
h1,
h2,
h3,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.section:not(:last-child) {
  margin-bottom: 94px;
}
.list {
  list-style: none;
  padding-inline-start: 0;
}
.link {
  text-decoration: none;
}
.title {
  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}
.subtitle {
  color: var(--title-text-color);
}
.button {
  font-family: inherit;
  display: inline-block;
}

/* Лого */
.logo {
  display: block;
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.logo-header {
  color: var(--regular-black-color);
}
.logo-footer {
  color: var(--regular-white-color);
}

/* Header */
.head-page {
  display: flex;
  align-items: center;
}
.header .logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 24px;
}
.nav {
  display: flex;
}
.nav-list,
.contact-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
/* Основная навигация */
.nav-list {
  display: flex;
}
.nav-item:not(:last-child) {
  margin-right: 50px;
}
.nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
}
.nav-link:hover,
.nav-link:focus,
.contact-link:hover,
.contact-link:focus,
.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}
.nav-link.current {
  color: var(--accent-color);
}

/* Контактная информация */
.contact-list {
  display: flex;
  margin-left: auto;
}
.contact-item:not(:last-child) {
  margin-right: 50px;
}
.contact-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
}

/* Основной баннер */
.hero {
  color: var(--regular-white-color);
  background-color: var(--hero-background-color);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.hero-button {
  color: var(--regular-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-radius: 4px;
  padding: 10px 32px;
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--hero-button-hover-color);
}

/* Наши преимущества */
.features {
}
.features-list {
  display: flex;
}
.features-item:not(:last-child) {
  margin-right: 30px;
}
.features-title {
  display: none;
}
.features-subtitle {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}
/* Чем мы занимаемся */
.work {
}
.work-list {
  display: flex;
}
.work-item:not(:last-child) {
  margin-right: 30px;
}
.work-image {
  display: block;
}

/* Наша команда */
.team {
  background-color: var(--secondary-background-color);
  padding-top: 94px;
  padding-bottom: 94px;
  text-align: center;
}
.team-list {
  display: flex;
}
.team-item:not(:last-child) {
  margin-right: 30px;
}

.team-image {
  display: block;
  margin-bottom: 30px;
}
.team-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
}
.team-text {
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 30px;
}

/* Footer */
.footer {
  background-color: var(--hero-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer .logo {
  margin-bottom: 20px;
}
.footer-list {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
.footer-link.adress {
  color: var(--regular-white-color);
}
.footer-link {
  color: var(--contact-text-color);
}
.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

/* Портфолио */
/* Примеры работ */
.examples {
  padding-top: 94px;
  padding-bottom: 94px;
}
.examples-title {
  display: none;
}

/* Портфолио button */
.filtre-list {
  display: flex;
  justify-content: center;
  padding-bottom: 16px;
  margin-bottom: 30px;
}
.filtre-item:not(:last-child) {
  margin-right: 8px;
}

.filtre-button {
  color: var(--title-text-color);
  background-color: var(--secondary-background-color);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: inherit;
  border-radius: 4px;
  padding: 6px 22px;
}
.filtre-button.current,
.filtre-button:hover,
.filtre-button:focus {
  color: var(--regular-white-color);
  background-color: var(--accent-color);
}

/* Примеры */
.example-list {
  display: flex;
  flex-wrap: wrap;
}
.example-item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}
.example-item:nth-child(3n) {
  margin-right: 0;
}
.example-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.example-image {
  display: block;
}
.example-title {
  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.example-text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.89;
}
